.footer {
  margin-top: auto;
  width: 100%;
  background-color: #001529;
}

.container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

.title {
  color: #FFF;
  font-weight: normal;
}

.icon {
  font-size: 18px;
  margin-right: 12px;
  color: #FFF;
}